In [1]:
%config Completer.use_jedi = False #this is command used for enable autocompletion in jupyt notebook

In [2]:
import pandas as pd

In [4]:
pwd

'C:\\Users\\SANU'

In [16]:
data=pd.read_csv("seeddata.csv",header=None)

In [17]:
data

         0      1       2      3      4      5      6  7
0    15.26  14.84  0.8710  5.763  3.312  2.221  5.220  1
1    14.88  14.57  0.8811  5.554  3.333  1.018  4.956  1
2    14.29  14.09  0.9050  5.291  3.337  2.699  4.825  1
3    13.84  13.94  0.8955  5.324  3.379  2.259  4.805  1
4    16.14  14.99  0.9034  5.658  3.562  1.355  5.175  1
..     ...    ...     ...    ...    ...    ...    ... ..
205  12.19  13.20  0.8783  5.137  2.981  3.631  4.870  3
206  11.23  12.88  0.8511  5.140  2.795  4.325  5.003  3
207  13.20  13.66  0.8883  5.236  3.232  8.315  5.056  3
208  11.84  13.21  0.8521  5.175  2.836  3.598  5.044  3
209  12.30  13.34  0.8684  5.243  2.974  5.637  5.063  3

[210 rows x 8 columns]

In [23]:
data.columns

Index(['column1', 'column2', 'column2', 'column2', 'column2', 'column2',
       'column2', 'column2'],
      dtype='object')

# Adding columnn name to dataframe

In [24]:
data.columns=["column1","column2","column2","column2","column2","column2","column2","column2"]

In [25]:
data

     column1  column2  column2  column2  column2  column2  column2  column2
0      15.26    14.84   0.8710    5.763    3.312    2.221    5.220        1
1      14.88    14.57   0.8811    5.554    3.333    1.018    4.956        1
2      14.29    14.09   0.9050    5.291    3.337    2.699    4.825        1
3      13.84    13.94   0.8955    5.324    3.379    2.259    4.805        1
4      16.14    14.99   0.9034    5.658    3.562    1.355    5.175        1
..       ...      ...      ...      ...      ...      ...      ...      ...
205    12.19    13.20   0.8783    5.137    2.981    3.631    4.870        3
206    11.23    12.88   0.8511    5.140    2.795    4.325    5.003        3
207    13.20    13.66   0.8883    5.236    3.232    8.315    5.056        3
208    11.84    13.21   0.8521    5.175    2.836    3.598    5.044        3
209    12.30    13.34   0.8684    5.243    2.974    5.637    5.063        3

[210 rows x 8 columns]

In [27]:
data.columns=["area","Perimite","compactness","length_of_kernel","width_of_kernel","asymmetry_coeficient","length_of_kernel_groove","class"]

In [28]:
data

,area,Perimite,compactness,length_of_kernel,width_of_kernel,asymmetry_coeficient,length_of_kernel_groove,class
0,15.26,14.84,0.8710,5.763,3.312,2.221,5.220,1
1,14.88,14.57,0.8811,5.554,3.333,1.018,4.956,1
2,14.29,14.09,0.9050,5.291,3.337,2.699,4.825,1
3,13.84,13.94,0.8955,5.324,3.379,2.259,4.805,1
4,16.14,14.99,0.9034,5.658,3.562,1.355,5.175,1
...,...,...,...,...,...,...,...,...
205,12.19,13.20,0.8783,5.137,2.981,3.631,4.870,3
206,11.23,12.88,0.8511,5.140,2.795,4.325,5.003,3
207,13.20,13.66,0.8883,5.236,3.232,8.315,5.056,3
208,11.84,13.21,0.8521,5.175,2.836,3.598,5.044,3
209,12.30,13.34,0.8684,5.243,2.974,5.637,5.063,3

In [29]:
data.describe()

,area,Perimite,compactness,length_of_kernel,width_of_kernel,asymmetry_coeficient,length_of_kernel_groove,class
count,210.000000,210.000000,210.000000,210.000000,210.000000,210.000000,210.000000,210.000000
mean,14.847524,14.559286,0.870999,5.628533,3.258605,3.700201,5.408071,2.000000
std,2.909699,1.305959,0.023629,0.443063,0.377714,1.503557,0.491480,0.818448
min,10.590000,12.410000,0.808100,4.899000,2.630000,0.765100,4.519000,1.000000
25%,12.270000,13.450000,0.856900,5.262250,2.944000,2.561500,5.045000,1.000000
50%,14.355000,14.320000,0.873450,5.523500,3.237000,3.599000,5.223000,2.000000
75%,17.305000,15.715000,0.887775,5.979750,3.561750,4.768750,5.877000,3.000000
max,21.180000,17.250000,0.918300,6.675000,4.033000,8.456000,6.550000,3.000000

In [32]:
data["area"]

15.26

In [33]:
type(data["area"])

pandas.core.series.Series

In [39]:
data[["area","Perimite"]]

      area  Perimite
0    15.26     14.84
1    14.88     14.57
2    14.29     14.09
3    13.84     13.94
4    16.14     14.99
..     ...       ...
205  12.19     13.20
206  11.23     12.88
207  13.20     13.66
208  11.84     13.21
209  12.30     13.34

[210 rows x 2 columns]

In [42]:
data["area"][0:4]

0    15.26
1    14.88
2    14.29
3    13.84
Name: area, dtype: float64

In [44]:
data["area"][0:5:2]

0    15.26
2    14.29
4    16.14
Name: area, dtype: float64

In [45]:
data["area"][0:5:3]

0    15.26
3    13.84
Name: area, dtype: float64

In [48]:
data[["area"]][0:5:2]
#output type dataframe

    area
0  15.26
2  14.29
4  16.14

In [49]:
data.head()

,area,Perimite,compactness,length_of_kernel,width_of_kernel,asymmetry_coeficient,length_of_kernel_groove,class
0,15.26,14.84,0.8710,5.763,3.312,2.221,5.220,1
1,14.88,14.57,0.8811,5.554,3.333,1.018,4.956,1
2,14.29,14.09,0.9050,5.291,3.337,2.699,4.825,1
3,13.84,13.94,0.8955,5.324,3.379,2.259,4.805,1
4,16.14,14.99,0.9034,5.658,3.562,1.355,5.175,1

In [50]:
data.dtypes

area                       float64
Perimite                   float64
compactness                float64
length_of_kernel           float64
width_of_kernel            float64
asymmetry_coeficient       float64
length_of_kernel_groove    float64
class                        int64
dtype: object

In [52]:
data.dtypes!='object'

area                       True
Perimite                   True
compactness                True
length_of_kernel           True
width_of_kernel            True
asymmetry_coeficient       True
length_of_kernel_groove    True
class                      True
dtype: bool

In [54]:
[data.dtypes!='object']

[area                       True
 Perimite                   True
 compactness                True
 length_of_kernel           True
 width_of_kernel            True
 asymmetry_coeficient       True
 length_of_kernel_groove    True
 class                      True
 dtype: bool]

In [58]:
data.dtypes[data.dtypes=='object']

Series([], dtype: object)

In [59]:
data.dtypes[data.dtypes!='object']

area                       float64
Perimite                   float64
compactness                float64
length_of_kernel           float64
width_of_kernel            float64
asymmetry_coeficient       float64
length_of_kernel_groove    float64
class                        int64
dtype: object

In [61]:
data.dtypes[data.dtypes!='object'].index

Index(['area', 'Perimite', 'compactness', 'length_of_kernel',
       'width_of_kernel', 'asymmetry_coeficient', 'length_of_kernel_groove',
       'class'],
      dtype='object')

In [65]:
data[data.dtypes[data.dtypes!='object'].index]

,area,Perimite,compactness,length_of_kernel,width_of_kernel,asymmetry_coeficient,length_of_kernel_groove,class
0,15.26,14.84,0.8710,5.763,3.312,2.221,5.220,1
1,14.88,14.57,0.8811,5.554,3.333,1.018,4.956,1
2,14.29,14.09,0.9050,5.291,3.337,2.699,4.825,1
3,13.84,13.94,0.8955,5.324,3.379,2.259,4.805,1
4,16.14,14.99,0.9034,5.658,3.562,1.355,5.175,1
...,...,...,...,...,...,...,...,...
205,12.19,13.20,0.8783,5.137,2.981,3.631,4.870,3
206,11.23,12.88,0.8511,5.140,2.795,4.325,5.003,3
207,13.20,13.66,0.8883,5.236,3.232,8.315,5.056,3
208,11.84,13.21,0.8521,5.175,2.836,3.598,5.044,3
209,12.30,13.34,0.8684,5.243,2.974,5.637,5.063,3

In [66]:
data.dtypes=='int64'

area                       False
Perimite                   False
compactness                False
length_of_kernel           False
width_of_kernel            False
asymmetry_coeficient       False
length_of_kernel_groove    False
class                       True
dtype: bool

In [68]:
data.dtypes[data.dtypes=='int64']

class    int64
dtype: object

In [69]:
data.dtypes[data.dtypes=='int64'].index

Index(['class'], dtype='object')

In [71]:
data[data.dtypes[data.dtypes=='int64'].index]

     class
0        1
1        1
2        1
3        1
4        1
..     ...
205      3
206      3
207      3
208      3
209      3

[210 rows x 1 columns]

In [72]:
data

,area,Perimite,compactness,length_of_kernel,width_of_kernel,asymmetry_coeficient,length_of_kernel_groove,class
0,15.26,14.84,0.8710,5.763,3.312,2.221,5.220,1
1,14.88,14.57,0.8811,5.554,3.333,1.018,4.956,1
2,14.29,14.09,0.9050,5.291,3.337,2.699,4.825,1
3,13.84,13.94,0.8955,5.324,3.379,2.259,4.805,1
4,16.14,14.99,0.9034,5.658,3.562,1.355,5.175,1
...,...,...,...,...,...,...,...,...
205,12.19,13.20,0.8783,5.137,2.981,3.631,4.870,3
206,11.23,12.88,0.8511,5.140,2.795,4.325,5.003,3
207,13.20,13.66,0.8883,5.236,3.232,8.315,5.056,3
208,11.84,13.21,0.8521,5.175,2.836,3.598,5.044,3
209,12.30,13.34,0.8684,5.243,2.974,5.637,5.063,3

In [73]:
max(data["area"])

21.18

In [80]:
data["area"]==max(data["area"])

0      False
1      False
2      False
3      False
4      False
       ...
205    False
206    False
207    False
208    False
209    False
Name: area, Length: 210, dtype: bool

In [82]:
#fetch maximum area information
data[data["area"]==max(data["area"])]

,area,Perimite,compactness,length_of_kernel,width_of_kernel,asymmetry_coeficient,length_of_kernel_groove,class
88,21.18,17.21,0.8989,6.573,4.033,5.78,6.231,2

In [83]:
data

,area,Perimite,compactness,length_of_kernel,width_of_kernel,asymmetry_coeficient,length_of_kernel_groove,class
0,15.26,14.84,0.8710,5.763,3.312,2.221,5.220,1
1,14.88,14.57,0.8811,5.554,3.333,1.018,4.956,1
2,14.29,14.09,0.9050,5.291,3.337,2.699,4.825,1
3,13.84,13.94,0.8955,5.324,3.379,2.259,4.805,1
4,16.14,14.99,0.9034,5.658,3.562,1.355,5.175,1
...,...,...,...,...,...,...,...,...
205,12.19,13.20,0.8783,5.137,2.981,3.631,4.870,3
206,11.23,12.88,0.8511,5.140,2.795,4.325,5.003,3
207,13.20,13.66,0.8883,5.236,3.232,8.315,5.056,3
208,11.84,13.21,0.8521,5.175,2.836,3.598,5.044,3
209,12.30,13.34,0.8684,5.243,2.974,5.637,5.063,3

# fetch perimiter,compactness,class having area more or equal 14

In [85]:
data["area"]

0      15.26
1      14.88
2      14.29
3      13.84
4      16.14
       ...
205    12.19
206    11.23
207    13.20
208    11.84
209    12.30
Name: area, Length: 210, dtype: float64

In [87]:
data[['area']]

      area
0    15.26
1    14.88
2    14.29
3    13.84
4    16.14
..     ...
205  12.19
206  11.23
207  13.20
208  11.84
209  12.30

[210 rows x 1 columns]

In [90]:
data["area"]>=14

0       True
1       True
2       True
3      False
4       True
       ...
205    False
206    False
207    False
208    False
209    False
Name: area, Length: 210, dtype: bool

In [92]:
data[data["area"]>=14]

,area,Perimite,compactness,length_of_kernel,width_of_kernel,asymmetry_coeficient,length_of_kernel_groove,class
0,15.26,14.84,0.8710,5.763,3.312,2.221,5.220,1
1,14.88,14.57,0.8811,5.554,3.333,1.018,4.956,1
2,14.29,14.09,0.9050,5.291,3.337,2.699,4.825,1
4,16.14,14.99,0.9034,5.658,3.562,1.355,5.175,1
5,14.38,14.21,0.8951,5.386,3.312,2.462,4.956,1
...,...,...,...,...,...,...,...,...
135,15.38,14.66,0.8990,5.477,3.465,3.600,5.439,2
136,17.36,15.76,0.8785,6.145,3.574,3.526,5.971,2
137,15.57,15.15,0.8527,5.920,3.231,2.640,5.879,2
138,15.60,15.11,0.8580,5.832,3.286,2.725,5.752,2
139,16.23,15.18,0.8850,5.872,3.472,3.769,5.922,2

In [101]:
df=data[data["area"]>=14][["area","Perimite","compactness","class"]]

In [102]:
df

      area  Perimite  compactness  class
0    15.26     14.84       0.8710      1
1    14.88     14.57       0.8811      1
2    14.29     14.09       0.9050      1
4    16.14     14.99       0.9034      1
5    14.38     14.21       0.8951      1
..     ...       ...          ...    ...
135  15.38     14.66       0.8990      2
136  17.36     15.76       0.8785      2
137  15.57     15.15       0.8527      2
138  15.60     15.11       0.8580      2
139  16.23     15.18       0.8850      2

[116 rows x 4 columns]

In [103]:
df.describe()

             area    Perimite  compactness       class
count  116.000000  116.000000   116.000000  116.000000
mean    17.014914   15.533276     0.883055    1.603448
std      2.037903    0.913277     0.015308    0.491304
min     14.010000   14.090000     0.845200    1.000000
25%     15.095000   14.732500     0.872350    1.000000
50%     16.830000   15.530000     0.882150    2.000000
75%     18.857500   16.290000     0.897100    2.000000
max     21.180000   17.250000     0.915300    2.000000

In [104]:
data

,area,Perimite,compactness,length_of_kernel,width_of_kernel,asymmetry_coeficient,length_of_kernel_groove,class
0,15.26,14.84,0.8710,5.763,3.312,2.221,5.220,1
1,14.88,14.57,0.8811,5.554,3.333,1.018,4.956,1
2,14.29,14.09,0.9050,5.291,3.337,2.699,4.825,1
3,13.84,13.94,0.8955,5.324,3.379,2.259,4.805,1
4,16.14,14.99,0.9034,5.658,3.562,1.355,5.175,1
...,...,...,...,...,...,...,...,...
205,12.19,13.20,0.8783,5.137,2.981,3.631,4.870,3
206,11.23,12.88,0.8511,5.140,2.795,4.325,5.003,3
207,13.20,13.66,0.8883,5.236,3.232,8.315,5.056,3
208,11.84,13.21,0.8521,5.175,2.836,3.598,5.044,3
209,12.30,13.34,0.8684,5.243,2.974,5.637,5.063,3

In [105]:
data["length_of_kernel"]

0      5.763
1      5.554
2      5.291
3      5.324
4      5.658
       ...
205    5.137
206    5.140
207    5.236
208    5.175
209    5.243
Name: length_of_kernel, Length: 210, dtype: float64

In [110]:
data[["length_of_kernel"]]

     length_of_kernel
0               5.763
1               5.554
2               5.291
3               5.324
4               5.658
..                ...
205             5.137
206             5.140
207             5.236
208             5.175
209             5.243

[210 rows x 1 columns]

In [111]:
data[["length_of_kernel"]].describe()

       length_of_kernel
count        210.000000
mean           5.628533
std            0.443063
min            4.899000
25%            5.262250
50%            5.523500
75%            5.979750
max            6.675000

In [118]:
data["length_of_kernel"]>=5.5

0       True
1       True
2      False
3      False
4       True
       ...
205    False
206    False
207    False
208    False
209    False
Name: length_of_kernel, Length: 210, dtype: bool

In [124]:
data[data["length_of_kernel"]>=6][["length_of_kernel","area","Perimite","class"]]

     length_of_kernel   area  Perimite  class
8               6.053  16.63     15.46      1
70              6.191  17.63     15.98      2
73              6.154  19.11     16.26      2
74              6.017  16.82     15.51      2
76              6.064  17.32     15.91      2
77              6.579  20.71     17.23      2
78              6.445  18.94     16.49      2
81              6.006  18.72     16.19      2
82              6.285  20.20     16.89      2
83              6.384  19.57     16.74      2
84              6.366  19.51     16.71      2
85              6.173  18.27     16.09      2
86              6.084  18.88     16.26      2
87              6.549  18.98     16.66      2
88              6.573  21.18     17.21      2
89              6.450  20.88     17.05      2
90              6.581  20.10     16.99      2
91              6.172  18.76     16.20      2
92              6.272  18.81     16.29      2
93              6.037  18.59     16.05      2
94              6.666  18.36     16.52      2
95              6.139  16.87     15.65      2
96              6.341  19.31     16.59      2
97              6.449  18.98     16.57      2
98              6.271  18.17     16.26      2
99              6.219  18.72     16.34      2
102             6.113  19.46     16.50      2
103             6.369  19.18     16.63      2
104             6.248  18.95     16.42      2
105             6.037  18.83     16.29      2
106             6.152  18.85     16.17      2
107             6.033  17.63     15.86      2
108             6.675  19.94     16.92      2
109             6.153  18.55     16.22      2
110             6.107  18.45     16.12      2
111             6.303  19.38     16.72      2
112             6.183  19.13     16.31      2
113             6.259  19.14     16.61      2
114             6.563  20.97     17.25      2
115             6.416  19.06     16.45      2
116             6.051  18.96     16.20      2
117             6.245  19.15     16.45      2
118             6.227  18.89     16.23      2
119             6.493  20.03     16.90      2
120             6.315  20.24     16.91      2
121             6.059  18.14     16.12      2
125             6.111  18.75     16.18      2
126             6.285  18.65     16.41      2
128             6.513  20.16     17.03      2
131             6.144  18.94     16.32      2
136             6.145  17.36     15.76      2